.ert-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh; /* Ensure full height of the viewport */
  position: relative; /* Allow absolutely positioned elements to be placed */
  font-family: 'Karla', sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  gap: 10px;
}

.controls-container select {
  font-size: 12px;
  padding: 5px;
}

.render-window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;  /* Adjust to center and limit the width */
  height: 70vh; /* Ensure the render window doesn't exceed screen height */
  border: 2px solid #4b6043; /* Add a border to visually contain the render window */
  border-radius: 10px;
  background-color: #e5e5e5; /* Light background color for contrast */
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for aesthetic */
}

.render-window {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

